# Data Science Tools and Ecosytem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Data Science Languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib.pyplot
5. ggplot2
6. Dplyr
7. Caret
8. Plotly

# Data Science Tools
|Data Science Tools |
| ----------------- |
| Jupyter Notebook  |
| Google Colab      |
| Visual Studio Code Editor     |

# Aritmetic Expression Example
### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# Addition : 
2323 + 3434

5757

In [15]:
# Multiplation : 
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [7]:
# Exponent :
4 ** 8

65536

In [8]:
# Division : 
45 / 4 # (Answer as a float)

11.25

In [10]:
# Floor Division : 
45 // 4 # (Answer as an integer)

11

In [13]:
# Modulo Operator : Output a remainder
43 % 2

1

# Writing A Code to Convert Minuter into Hours

In [18]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

**Objectives**
* List Popular Languages for Data Science
* List Popular Libraries for Data Science
* Arithmetic Expression Examples

## Author 
Muhammad Usman Khan Tanoli